[Unit]
Description=DavisCru Dev Data container
After=etcd.service
After=docker.service

[Service]
User=core
EnvironmentFile=/etc/environment
RemainAfterExit=yes
TimeoutStartSec=0
KillMode=none
ExecStartPre=/usr/bin/docker pull quay.io/ozzieorca/data-only
ExecStart=/bin/bash -c '/usr/bin/docker start data-dev || /usr/bin/docker run -v /data --name data-dev quay.io/ozzieorca/data-only echo Data-only dev container'