[Unit]
Description=DavisCru Staging Nginx and Dart container
After=etcd.service
After=docker.service

After=data-staging.service
Requires=data-staging.service

After=mongodb-staging.service
Requires=mongodb-staging.service

Requires=daviscru-staging-discovery@%i.service

[Service]
User=core
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
KillMode=none
ExecStartPre=/usr/bin/docker pull quay.io/ozzieorca/daviscru
ExecStartPre=-/usr/bin/docker kill daviscru-staging%i
ExecStartPre=-/usr/bin/docker rm daviscru-staging%i
ExecStart=/usr/bin/docker run --rm --name daviscru-staging%i -v /home/core/config/daviscru-staging:/var/www/daviscru/build/bin/config/private --volumes-from data-staging --link mongodb-staging:mongodb -p ${COREOS_PUBLIC_IPV4}:%i:80 quay.io/ozzieorca/daviscru
ExecStop=/usr/bin/docker stop daviscru-staging%i

[X-Fleet]
X-Conflicts=daviscru-staging@%i.service

#Restart service
#PORT=8080; fleetctl destroy daviscru-staging@ daviscru-staging-discovery@; fleetctl submit ~/fleet/daviscru-staging@.service ~/fleet/daviscru-staging-discovery@.service; fleetctl destroy daviscru-staging@$PORT daviscru-staging-discovery@$PORT; fleetctl load daviscru-staging@$PORT daviscru-staging-discovery@$PORT; fleetctl start daviscru-staging@$PORT