/** Angular CSS **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}
ng\:form {
    display: block;
}

/*Remove spinner on number input*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/** Generic CSS **/
body{
    background-color: #444444;
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}

.well{
    margin-bottom: 10px;
}

.body-container{
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

a:hover, a:focus{
    text-decoration: none;
}

.logo{
    padding: 5px 10px;
    max-height: 150px;
}
@font-face {
    font-family: 'freightsans_prolight';
    src: url('../fonts/freigsanprolig-webfont.eot');
    src: url('../fonts/freigsanprolig-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/freigsanprolig-webfont.woff') format('woff'),
    url('../fonts/freigsanprolig-webfont.ttf') format('truetype'),
    url('../fonts/freigsanprolig-webfont.svg#freightsans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.logo-tagline{
    font-size: 45px;
    padding-top: 86px;
    color: #919191;
    font-family: 'freightsans_prolight', sans-serif;
    text-transform: uppercase;
}
.navbar{
    margin-bottom: 0px;
    border: none;
}
.navbar-dark{
    background-color: #282828;
    border-color: #858585;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    letter-spacing: 1px;
}
.navbar-dark .navbar-nav>li>a{
    color: #FFF;
    text-shadow: 0px 0px 6px #222;
}
.navbar-dark .nav>li>a:hover, .nav>li>a:focus {
    background-color: #DE711C;
}
.navbar-dark .navbar-nav>.active>a{
    color: #FFF;
    background-color: #ECA710;
}
.navbar-dark .navbar-nav>.active>a:hover,  .navbar-nav>.active>a:focus{
    color: #FFF;
    background-color: #ECA710;
}
.navbar-dark .open>a, .nav>.open>a:hover, .nav>.open>a:focus {
    background-color: #DE711C;
}
.navbar-dark .open.active>a, .nav>.open.active>a:hover, .nav>.open.active>a:focus {
    background-color: #ECA710;
}
.navbar-dark a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar-dark a:hover .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar-dark .navbar-nav>.active a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar-dark .navbar-nav>.active a:hover .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar-dark .dropdown-menu{
    background-color: #F5F5F5;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #C0DAE2;
}
.affix{
    top: 0px;
    z-index: 50;
    width: 100%;
}
.affix-container{
    height: 50px;
}
.navbar-logo{
    display: none;
    max-height: 42px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
}
.affix .navbar-logo{
    display: inline;
}
.accout-dropdown{
    height: 50px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.account-dropdown > img{
    width: 50px;
    height: 50px;
}
.social-btn{
    float: left !important;
    margin-top: 4px;
    margin-bottom: 4px;
}
 .nav>li.nav-image>a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav>li.nav-image-borderless>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav>li.no-hover>a:hover, .nav>li.no-hover>a:focus {
    background-color: transparent;
}

footer{
    padding: 6px;
    color: #999999;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}
footer a{
    color: #BBBBBB;
}
footer a:hover, a:focus{
    color: #CCCCCC;
}
.colored-bars{
    background-color: #666666;
}
.colored-bars .colored-bar{
    padding: 6px 0px;
}
.colored-bars-thin .colored-bar{
    padding: 4px 0px;
}
.colored-bars .colored-bar-left{
    background-color: #F9B625;
}
.colored-bars .colored-bar-left-middle{
    background-color: #007398;
}
.colored-bars .colored-bar-right-middle{
    background-color: #3DB1C8;
}
.colored-bars .colored-bar-right{
    background-color: #DD7D1B;
}

.jumbotron{
    margin-top: 20px;
    background-color: #F6F0E2;
}

h1 .small, h2 .small{
    font-size: 70%;
    font-weight: normal;
    line-height: 1;
    color: #999;
}

.admin-toolbar-wrapper{
    background-color: #444444;
    border-bottom: 2px solid #282828;
}
.admin-toolbar{
     margin-top: 5px;
}
.admin-toolbar .dropdown-menu{
    z-index: 1001;
}
#status-bar{
    margin-top: 4px;
    margin-bottom: -12px;
}

.stats-thumbnail{
    margin-bottom: 10px;
}
.stats-form .form-control{
    margin-bottom: 7px;
}

.page-message{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #222;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5em;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

/* Begin Spinners */
/* From: http://tobiasahlin.com/spinkit/ */
.three-bounce-spinner {
    margin: 16px 25px 0 0;
    width: 70px;
    text-align: center;
}

.three-bounce-spinner > div {
    width: 18px;
    height: 18px;
    background-color: #FFF;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: three-bounce-spinner-bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.three-bounce-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.three-bounce-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes three-bounce-spinner-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes three-bounce-spinner-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.circle-spinner {
    margin: 45px auto;
    width: 65px;
    height: 65px;
    position: relative;
}

.circle-spinner > .container1 > div, .circle-spinner > .container2 > div, .circle-spinner > .container3 > div {
    width: 14px;
    height: 14px;
    background-color: #333;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: circle-spinner-bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.circle-spinner > .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.circle-spinner > .container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.circle-spinner > .container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle-spinner .circle1 { top: 0; left: 0; }
.circle-spinner .circle2 { top: 0; right: 0; }
.circle-spinner .circle3 { right: 0; bottom: 0; }
.circle-spinner .circle4 { left: 0; bottom: 0; }

.circle-spinner .container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.circle-spinner .container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.circle-spinner .container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.circle-spinner .container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.circle-spinner .container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.circle-spinner .container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.circle-spinner .container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.circle-spinner .container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.circle-spinner .container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.circle-spinner .container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.circle-spinner .container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes circle-spinner-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes circle-spinner-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/* End Spinners */